FanShowClient/App_WebReferences/FanRegistrationReference/FanRegistrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1137/FanRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Fan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artists" nillable="true" type="tns:ArrayOfArtist" />
      <xs:element minOccurs="0" name="FanDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanKey" type="xs:int" />
      <xs:element minOccurs="0" name="FanLogins" nillable="true" type="tns:ArrayOfFanLogin" />
      <xs:element minOccurs="0" name="FanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fan" nillable="true" type="tns:Fan" />
  <xs:complexType name="ArrayOfArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artist" nillable="true" type="tns:Artist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtist" nillable="true" type="tns:ArrayOfArtist" />
  <xs:complexType name="Artist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArtistEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistKey" type="xs:int" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fans" nillable="true" type="tns:ArrayOfFan" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="ShowDetails" nillable="true" type="tns:ArrayOfShowDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artist" nillable="true" type="tns:Artist" />
  <xs:complexType name="ArrayOfFan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fan" nillable="true" type="tns:Fan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFan" nillable="true" type="tns:ArrayOfFan" />
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artists" nillable="true" type="tns:ArrayOfArtist" />
      <xs:element minOccurs="0" name="Fans" nillable="true" type="tns:ArrayOfFan" />
      <xs:element minOccurs="0" name="GenreDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreKey" type="xs:int" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfShowDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowDetail" nillable="true" type="tns:ShowDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowDetail" nillable="true" type="tns:ArrayOfShowDetail" />
  <xs:complexType name="ShowDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="tns:Artist" />
      <xs:element minOccurs="0" name="ArtistKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Show" nillable="true" type="tns:Show" />
      <xs:element minOccurs="0" name="ShowDetailAdditional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDetailArtistStartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ShowDetailKey" type="xs:int" />
      <xs:element minOccurs="0" name="ShowKey" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowDetail" nillable="true" type="tns:ShowDetail" />
  <xs:complexType name="Show">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowDetails" nillable="true" type="tns:ArrayOfShowDetail" />
      <xs:element minOccurs="0" name="ShowKey" type="xs:int" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTicketInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" type="ser:duration" />
      <xs:element minOccurs="0" name="VenueKey" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Show" nillable="true" type="tns:Show" />
  <xs:complexType name="ArrayOfFanLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FanLogin" nillable="true" type="tns:FanLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFanLogin" nillable="true" type="tns:ArrayOfFanLogin" />
  <xs:complexType name="FanLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fan" nillable="true" type="tns:Fan" />
      <xs:element minOccurs="0" name="FanKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanLoginHashed" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FanLoginKey" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanLoginRandom" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanLogin" nillable="true" type="tns:FanLogin" />
  <xs:complexType name="ArrayOfShowListByArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowListByArtist" nillable="true" type="tns:ShowListByArtist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowListByArtist" nillable="true" type="tns:ArrayOfShowListByArtist" />
  <xs:complexType name="ShowListByArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTicketInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowListByArtist" nillable="true" type="tns:ShowListByArtist" />
</xs:schema>