FanShowClient/App_WebReferences/FanRegistrationReference/FanRegistrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1137/FanRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="RegisterFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="f" nillable="true" type="q1:Fan" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="fl" nillable="true" type="q2:FanLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetArtistsResult" nillable="true" type="q3:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetShowsResult" nillable="true" type="q4:ArrayOfShowListByArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>