FanShowClient/App_WebReferences/FanRegistrationReference/FanRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FanRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1137/FanRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1137/FanRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1137/FanRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFanRegistrationService_RegisterFan_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFan" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_RegisterFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFanResponse" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationService_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFanRegistrationService">
    <wsdl:operation name="RegisterFan">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanRegistrationService/RegisterFan" message="tns:IFanRegistrationService_RegisterFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanRegistrationService/RegisterFanResponse" message="tns:IFanRegistrationService_RegisterFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanRegistrationService/Login" message="tns:IFanRegistrationService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanRegistrationService/LoginResponse" message="tns:IFanRegistrationService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanRegistrationService/GetArtists" message="tns:IFanRegistrationService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanRegistrationService/GetArtistsResponse" message="tns:IFanRegistrationService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanRegistrationService/GetShows" message="tns:IFanRegistrationService_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanRegistrationService/GetShowsResponse" message="tns:IFanRegistrationService_GetShows_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFanRegistrationService" type="tns:IFanRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterFan">
      <soap:operation soapAction="http://tempuri.org/IFanRegistrationService/RegisterFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IFanRegistrationService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/IFanRegistrationService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/IFanRegistrationService/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FanRegistrationService">
    <wsdl:port name="BasicHttpBinding_IFanRegistrationService" binding="tns:BasicHttpBinding_IFanRegistrationService">
      <soap:address location="http://localhost:1137/FanRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>